{% extends 'base.html' %}
<!---->
{% load static %}
<!-- END #fh5co-header -->

{% block content %}
<!-- This is For Massage -->
<div class=" container-fluid">
    <div class="Update massage">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<div class="container-fluid">
    <!--This is our Dianamic Article field -->
    <div class="row fh5co-post-entry">
        {% for p in post %}
        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
            <figure>
                <a href=" {{p.get_single_url }}"><img src="{{ p.image.url }}" alt="Image" class="img-responsive"></a>
            </figure>
            <span class="fh5co-meta"><a href="{% url 'tube:Topic' name=p.catagory.name %}">{{p.catagory.name}}</a></span>
            <h2 class="fh5co-article-title"><a href="{{p.get_single_url }}">{{ p.title }}</a></h2>
            <h4><a href=" {% url 'tube:profile' name=p.article_author.name.username %} ">{{ p.article_author.name.get_full_name }}</a></h4>
            <span class="fh5co-meta fh5co-date">{{ p.post_on }}</span>
        </article>
        {% endfor %}
        <div class="container-fluid">
            <!--This is our Paginator Field field -->
            <div class="pagination">
                <span class="step-links">
                    {% if post.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ post.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ post.number }} of {{ post.paginator.num_pages }}.
                    </span> {% if post.has_next %}
                <a href="?page={{ post.next_page_number }}">next</a>
                <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a> {% endif %}
                </span>
            </div>
        </div>
    </div>
    {% endblock content %}
    <!-- END #content -->
    {% block script %}
    <!-- END #footer -->
    {% endblock script %}